@import '../../style-config/variable.scss';
@import "../../style-config/mixins.scss";

.top-navigation-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  @include small-screen {
    margin-top: 20px;
  }

  .app-logo {
    width: 143px;
    @include small-screen {
      width: 100px;
      flex-shrink: 0;
    }

    img {
      width: 100%;
    }
  }

  .mobile-menu {
    display: none;
    @include small-screen {
      position: relative;
      z-index: 99;
      display: block;
    }
  }


  .navigation {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    height: auto;
    gap: unset;
    align-items: center;
    background-color: transparent;
    @include small-screen {
      align-items: center;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $black;
      z-index: 9;
      display: none;
      flex-direction: column;
      justify-content: center;
      gap: 35px;
    }

    &.active {
      display: flex;
    }

    .navigation-item {
      color: $white;
      @include typography(18px, 400, 1);
      margin-left: 20px;
      padding: 5px;
      border-radius: 15px;
      box-shadow: inset 0 0 0 0 $white;
      transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      cursor: pointer;
      @include small-screen {
        @include typography(24px, 700, 1);
      }

      &:hover {
        box-shadow: inset 200px 0 0 0 $white;
        color: $black;

      }
    }
  }
}
