@import "../../../style-config/variable.scss";
@import "../../../style-config/mixins.scss";


.call-to-action {
  height: 47px;
  width: fit-content;
  padding: 0 25px;
  background: $white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $black-light;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  @include typography(18px, 400, 1);

  .text,
  .arrow-icon {
    position: relative;
    z-index: 1;
    transition: all ease 500ms;
  }



}
