@import "../../../style-config/variable.scss";
@import "../../../style-config/mixins.scss";

.intro-content {
  //flex-grow: 1;
  //display: flex;
  //align-items: flex-end;
  //padding-top: 0;
  //@include small-screen {
  //  padding-top: 75px;
  //}

  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding-top: 0;
  @include small-screen {
    padding-top: 125px;
    display: flex;
    flex-grow: 1;
    align-items: normal;

  }

  .layout {
    display: flex;
    flex-direction: row;
    @include small-screen {
      flex-direction: column;
    }

    .left-col {
      width: 45%;
      @include small-screen {
        width: 100%;
      }

      @include medium-screen {
        padding-top: 55px;
      }
      @include large-screen {
        padding-top: 0;
        width: 37%
      }

      .title {
        display: flex;
        flex-direction: column;
        color: $white;
        text-align: left;
        @include small-screen {
          text-align: center;
        }

        .small-text {
          @include typography(42px, 400, 48px);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          @include small-screen {
            @include typography(24px, 400, 30px);
            justify-content: center;
          }

          .icon {
            margin-left: 10px;
          }
        }

        .big-text {
          @include typography(62px, 400, 72px);
          @include small-screen {
            @include typography(42px, 400, 52px);
          }
        }
      }

      p {
        @include typography(18px, 400, 24px);
        margin: 25px 0;
        color: $white;
        padding: 0;
        text-align: left;
        @include small-screen {
          @include typography(16px, 400, 22px);
          margin: 15px 0;
          padding: 0 15px;
          text-align: center;
        }
      }

      .call-to-action {
        margin: 0;
        @include small-screen {
          margin: 0 auto;
        }
      }
    }

    .right-col {
      display: flex;
      width: 55%;
      align-items: flex-end;
      position: relative;
      flex-grow: unset;
      @include small-screen {
        flex-grow: 1;
        width: 100%;
      }
      @include large-screen {
        width: 63%;
      }

      img {
        width: 100%;
        display: block;
        margin-bottom: 40px;
        @include small-screen {
          margin-bottom: 30px;
        }
        @include large-screen {
          margin-bottom: 50px;
          position: relative;
          right: -100px;
        }

      }

      .highlights {
        @include glassmorphism-effect;
        position: absolute;
        border-radius: 6px;
        transform: scale(1);
        @include small-screen {
          transform: scale(0.6);
        }

        .icon {
          width: 55px;
          height: 55px;
          min-width: 55px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: $yellow;
          font-size: 24px;
          color: $black-light;
        }

        .text {
          padding: 0 10px;
          @include typography(18px, 400, 24px);
          color: $black-light;

          span {
            @include typography(14px, 400, 24px);
          }
        }

        &.horizontal {
          width: 208px;
          height: 95px;
          display: flex;
          align-items: center;
          top: 250px;
          left: 0;
          padding: 20px 10px 20px 20px;
          @include small-screen {
            top: 135px;
            left: -25px;
          }
          @include medium-screen {
            top: 250px;
            left: 0;
          }
          @include large-screen {
            top: 270px;
            left: 0;
          }

        }

        &.vertical {
          width: 135px;
          height: 165px;
          min-height: 165px;
          display: flex;
          flex-direction: column;
          align-items: center;
          top: 50px;
          right: 60px;
          padding: 20px;
          padding-bottom: 10px;
          text-align: center;
          @include small-screen {
            top: 0;
            right: 0;
          }
          @include medium-screen {
            top: 50px;
            right: 60px;
          }
          @include large-screen {
            top: 85px;
            right: -10px;
          }

          .text {
            padding: 0 10px;
            @include typography(14px, 400, 18px);
            color: $black-light;
            margin-top: 10px;

            span {
              @include typography(18px, 700, 24px);
              display: block;
            }
          }
        }
      }
    }
  }
}

